html {
    font-family: monospace, sans-serif;
    background-color:#272733;
}

.tllan h1 {
    text-align: center;
    color: whitesmoke;
}

.bllan h2 {
    text-align: center;
    color: whitesmoke;
    margin-top: 2%;
}

.bllan div {
    color: whitesmoke;
    margin: 10px;
}

.bllan button {
    background-color: #9742fe;
    color: whitesmoke;
    font-weight: bold;
    border: 3px solid #9742fe;
    border-radius: 40px;
}

#contenedor {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5em;
}